## 시리즈 연습 문제

#### 문제1.
: 필요한 패키지를 import하고, 별명을 만드시오.

In [1]:
import pandas as pd
import numpy as np

#### 문제2.
: 다음의 조건에 따라 임의로 두 개의 시리즈 객체를 생성하시오.
-  조건1) 모두 문자열 인덱스를 가져야 하며,
-  조건2) 모두 시리즈에 공통적으로 포함되지 않는 인덱스가 있어야 한다.
-  조건3) 값과 시리즈 원소 개수도 임의 설정할 것

In [2]:
s1 = pd.Series({'a': 10, 'b': 20, 'c': 30})
s2 = pd.Series({'b': 40, 'c': 50, 'd': 60})
s1, s2

(a    10
 b    20
 c    30
 dtype: int64,
 b    40
 c    50
 d    60
 dtype: int64)

In [2]:
pd.Series(np.random.randn(8), index=list('kdnyajos'))

k    0.646956
d    0.538548
n    0.718831
y    2.162031
a    0.684830
j    2.098987
o    0.409891
s    0.214304
dtype: float64

#### 문제3.
:다음의 시리즈 객체를 이용하여 사칙연산을 수행하고 결과를 출력하시오.

In [3]:
# 시리즈 데이터
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'영어':80,'수학':75})

In [4]:
ex_s1 + ex_s2

국어    190
영어    160
수학    150
dtype: int64

In [5]:
ex_s1 - ex_s2

국어    0
영어    0
수학    0
dtype: int64

In [6]:
ex_s1 * ex_s2

국어    9025
영어    6400
수학    5625
dtype: int64

In [7]:
ex_s1 / ex_s2

국어    1.0
영어    1.0
수학    1.0
dtype: float64

#### 문제4. 
: 다음의 두 시리즈 객체를 이용하여 다음 연산을 수행한 결과를 쓰고 왜 그러한지 설명하시오.

In [4]:
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'과학':80,'논술':75})

In [5]:
ex_s1 - ex_s2

과학    NaN
국어    0.0
논술    NaN
수학    NaN
영어    NaN
dtype: float64

겹치는 인덱스인 국어 항목만 값이 나오고 나머지는 NAN

=> 시리지의 사칙연산은 같은 인덱스를 기준으로 연산하므로, 두 시리즈의 인덱스 중 같은 인덱스는 '국어'만 있고 나머지는 동일하지 않아 NaN 출력

In [8]:
ex_s1.values - ex_s2.values

array([0, 0, 0])

인덱스와 상관없이 모든 요소끼리 빼기를 했기 때문에

=> 시리즈의 values들을 numpy array로서 같은 위치 인덱스 기준으로 연산

#### 문제5. 
: 다음의 데이터를 이용하여 주어진 조건에 따라 시리즈 객체를  생성하시오.

In [12]:
#  서울 : 9904312, 부산 : 3448737, 인천 : 2890451  대구 : 2466052    
#  1) 리스트를 이용하여 시리즈 생성
#  2) 딕셔너리를 이용하여 시리즈 생성

# 1
c = ['서울', '부산', '인천', '대구']
n = [9904312, 3448737, 2890451, 2466052]
city = pd.Series(c, index=n)
city

# 2
c_dic = {'서울' : 9904312, '부산' : 3448737, '인천' : 2890451, '대구' : 2466052}
city = pd.Series(c_dic)
city

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

#### 문제6. 
: 문제5에서 생성한 시리즈에 대한 인덱스를 출력하시오.

In [14]:
print(city.index)

Index(['서울', '부산', '인천', '대구'], dtype='object')

#### 문제7. 
:문제5에서 생성한 시리즈에 대하여 세번째 인덱스의 값을 문자인덱스로 접근 후 출력하시오.

In [16]:
print(city['인천'])

2890451

#### 문제8. 
: 문제5에서 생성한 시리즈에 대하여 문자인덱싱을 이용하여 부산, 인천, 대구의 값을 추출하시오.

In [22]:
print(city[['부산', '인천', '대구']])

부산    3448737
인천    2890451
대구    2466052
dtype: int64

#### 문제9. 
:다음 데이터를 이용하여 시리즈를 생성하고 데이터 순서는 서울, 부산, 인천, 대전 으로 설정하시오.( 딕셔너리 활용 )

In [8]:
#   서울 9631482
#   부산 3393191
#   인천 2632035
#   대전 1490158

c_dic = {'서울' : 9631482, '부산' : 3393191, '인천' : 2632035, '대전' : 1490158}
city = pd.Series(c_dic)
city

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

#### 문제 10
: 위에서 생성한 시리즈에 인구 라는 이름을 설정하시오

In [9]:
city.name = '인구'

#### 문제 11
: 위에서 생성한 시리즈의 인구수가 3000000 이상인 도시를 출력하시오

In [10]:
list(city[city >= 3000000].index)

['서울', '부산']

#### 문제 12
: 위에서 생성한 시리즈의 서울 데이터를 11000000 으로 변경하세요

In [12]:
city['서울'] = 11000000
city

서울    11000000
부산     3393191
인천     2632035
대전     1490158
Name: 인구, dtype: int64

#### 문제 13
: 대전 데이터를 삭제하세요

In [13]:
del city['대전']

#### 문제 14
: 대구 데이터가 있는지 확인 하세요

In [14]:
'대구' in city

False