## pandas 다중 인덱스(multi index) 연습문제

필요 모듈 임포트

In [1]:
import numpy as np
import pandas as pd

#### 1. 다음과 같이 다중인덱스를 갖는 데이터프레임을 생성하시오.

- 행인덱스 레벨 = 2
- 열인덱스 레벨 = 2
- 데이터 크기는 (6,4)이며 값은 (0,1) 사이의 난수를 갖음
- 인덱스는 MultiIndex를 생성하는 방법을 사용

In [6]:
arr1 = np.array([['M','M','M','F','F','F'], 'id1 id2 id3 id4 id5 id6'.split()])
idx = pd.MultiIndex.from_arrays(arr1)
idx

MultiIndex([('M', 'id1'),
            ('M', 'id2'),
            ('M', 'id3'),
            ('F', 'id4'),
            ('F', 'id5'),
            ('F', 'id6')],
           )

In [7]:
arr2 = np.array([['A','A','B','B'], 'C1 C2 C3 C4'.split()])
idx2 = pd.MultiIndex.from_arrays(arr2)
idx2

MultiIndex([('A', 'C1'),
            ('A', 'C2'),
            ('B', 'C3'),
            ('B', 'C4')],
           )

In [11]:
col = pd.MultiIndex.from_product([['A','B'],['C1','C2']], names=['cidx1','cidx2'])
idx = pd.MultiIndex.from_product([['M','F'],['id1','id2','id3']], names=['ridx1','ridx2'])

In [12]:
df = pd.DataFrame(np.random.rand(6,4),
                 index=idx, columns=col)
df

cidx1               A                   B
cidx2              C1        C2        C1        C2
ridx1 ridx2
M     id1    0.567109  0.759509  0.681382  0.617747
      id2    0.277761  0.971813  0.457998  0.579384
      id3    0.184311  0.113221  0.718686  0.640988
F     id1    0.276223  0.126006  0.718704  0.464348
      id2    0.890820  0.841323  0.908933  0.034633
      id3    0.946246  0.842590  0.344787  0.068163

#### 2. df의 'A'열을 출력하시오.

In [13]:
df['A']

cidx2              C1        C2
ridx1 ridx2
M     id1    0.567109  0.759509
      id2    0.277761  0.971813
      id3    0.184311  0.113221
F     id1    0.276223  0.126006
      id2    0.890820  0.841323
      id3    0.946246  0.842590

#### 3. df의 'F'행을 출력하시오.

In [14]:
df.loc['F']

cidx1         A                   B
cidx2        C1        C2        C1        C2
ridx2
id1    0.276223  0.126006  0.718704  0.464348
id2    0.890820  0.841323  0.908933  0.034633
id3    0.946246  0.842590  0.344787  0.068163

#### 4. df의 'A'열의 'C1'열을 출력하시오.

In [15]:
df['A','C1']

ridx1  ridx2
M      id1      0.567109
       id2      0.277761
       id3      0.184311
F      id1      0.276223
       id2      0.890820
       id3      0.946246
Name: (A, C1), dtype: float64

#### 5. df의 'M'행의  'id1'행을 출력하시오.

In [16]:
df.loc['M','id1']

cidx1  cidx2
A      C1       0.567109
       C2       0.759509
B      C1       0.681382
       C2       0.617747
Name: (M, id1), dtype: float64

#### 6. df의 ('M', 'id1')행 'A'열을 출력하시오.

In [17]:
df.loc['M','id1']['A']

cidx2
C1    0.567109
C2    0.759509
Name: (M, id1), dtype: float64

#### 7. df의 ('M', 'id1')행 ('A','C1')열 요소를 출력하시오.

In [19]:
df.loc[('M','id1'),('A','C1')]

np.float64(0.5671086369406259)

#### 8. df의 4행 4열의 요소를 출력하시오.

In [20]:
df.iloc[3,3]

np.float64(0.4643476655264366)

#### 9. df의 4행 4열의 요소를 10으로 변경하시오.

In [21]:
df.iloc[3,3] = 10
df

cidx1               A                   B
cidx2              C1        C2        C1         C2
ridx1 ridx2
M     id1    0.567109  0.759509  0.681382   0.617747
      id2    0.277761  0.971813  0.457998   0.579384
      id3    0.184311  0.113221  0.718686   0.640988
F     id1    0.276223  0.126006  0.718704  10.000000
      id2    0.890820  0.841323  0.908933   0.034633
      id3    0.946246  0.842590  0.344787   0.068163

-----