## Numpy 연습문제4 : 구조화 배열

In [1]:
import numpy as np

### #1. 구조화 배열 생성하기

#### 1. 다음 학생 데이터를 구조화 배열로 생성하시오.
|이름|국어|영어|
|------|---|---|
|춘향|85|90|
|방자|95|80|
|몽룡|75|70|

In [3]:
dtype = [('name', 'U10'), ('korean', 'i4'), ('english', 'i4')]
students = np.array([('춘향', 85, 90),('방자', 95, 80), ('몽룡', 75, 70)], dtype=dtype)
students

array([('춘향', 85, 90), ('방자', 95, 80), ('몽룡', 75, 70)],
      dtype=[('name', '<U10'), ('korean', '<i4'), ('english', '<i4')])

#### 2. 영어 점수의 평균을 출력하시오.

In [4]:
np.mean(students['english'])

np.float64(80.0)

#### 3. 국어 점수가 80점 이상인 학생만 출력하시오.

In [5]:
students[students['korean'] >= 80]

array([('춘향', 85, 90), ('방자', 95, 80)],
      dtype=[('name', '<U10'), ('korean', '<i4'), ('english', '<i4')])

### #2. 정렬 연습

#### 1. 다음 자동차 정보에 대한 구조화 배열을 생성하시오.
|모델|연식|배기량(cc)|
|------|---|---|
|Avante|2020|1500|
|Sonata|2019|1800|
|K5|2021|1700|
|Morning|2018|1000|

In [6]:
dtype = [('model', 'U10'), ('year', 'i4'), ('cc', 'i4')]
vehicles = np.array([('Avante', 2020, 1500),('Sonata', 2019, 1800), ('K5', 2021, 1700), ('Morning', 2018, 1000)], dtype=dtype)
vehicles

array([('Avante', 2020, 1500), ('Sonata', 2019, 1800), ('K5', 2021, 1700),
       ('Morning', 2018, 1000)],
      dtype=[('model', '<U10'), ('year', '<i4'), ('cc', '<i4')])

#### 2. 배기량이 1500이상인 차종만 출력하시오.

In [8]:
vehicles[vehicles['cc'] >= 1500]

array([('Avante', 2020, 1500), ('Sonata', 2019, 1800), ('K5', 2021, 1700)],
      dtype=[('model', '<U10'), ('year', '<i4'), ('cc', '<i4')])

#### 3. 연식 기준 오름차순으로 정렬하시오.

In [11]:
vehicles[np.argsort(vehicles['year'])]

array([('Morning', 2018, 1000), ('Sonata', 2019, 1800),
       ('Avante', 2020, 1500), ('K5', 2021, 1700)],
      dtype=[('model', '<U10'), ('year', '<i4'), ('cc', '<i4')])

### #3. 필드 추가 연습1

#### 1. 다음 직원 급여 정보에 대한 구조화 배열을 생성하시오.
|이름|급여|
|---|---|
|춘향|3200|
|방자|3000|
|몽룡|5100|

In [12]:
dtype = [('name', 'U10'), ('salary', 'i4')]
employees = np.array([('춘향', 3200),('방자', 3000), ('몽룡', 5100)], dtype=dtype)

#### 2. 급여의 10%를 세금으로 계산해 새로운 필드 tax를 추가한 배열을 생성하시오.

In [14]:
new_dtype = [('name', 'U10'), ('salary', 'i4'), ('tax', 'i4')]
new_em = np.empty(len(employees), dtype=new_dtype)
new_em['name'] = employees['name']
new_em['salary'] = employees['salary']
new_em['tax'] = employees['salary'] / 10
new_em

array([('춘향', 3200, 320), ('방자', 3000, 300), ('몽룡', 5100, 510)],
      dtype=[('name', '<U10'), ('salary', '<i4'), ('tax', '<i4')])

### #3. 필드 추가 연습2

#### 1. 다음 재고 현황 데이터에 대한 구조화 배열을 생성하시오.
|제품명|재고량|가격|
|---|---|---|
|키보드|10|20000|
|마우스|5|15000|
|모니터|3|150000|
|웹캠|8|30000|

In [3]:
dtype = [('name', 'U10'), ('quantity', 'i4'), ('price', 'i4')]
products = np.array([('키보드', 10, 20000),('마우스', 5, 15000), ('모니터', 23, 150000), ('웹캠', 8, 30000)], dtype=dtype)
products

array([('키보드', 10,  20000), ('마우스',  5,  15000), ('모니터', 23, 150000),
       ('웹캠',  8,  30000)],
      dtype=[('name', '<U10'), ('quantity', '<i4'), ('price', '<i4')])

#### 2. 재고 수량이 5이상인 상품만 출력하시오.

In [4]:
products[products['quantity'] >= 5]

array([('키보드', 10,  20000), ('마우스',  5,  15000), ('모니터', 23, 150000),
       ('웹캠',  8,  30000)],
      dtype=[('name', '<U10'), ('quantity', '<i4'), ('price', '<i4')])

#### 3. 총 재고 금액(quantity*price)을 계산하여 새로운 필드로 추가한 배열을 생성하시오.

In [5]:
new_dtype = [('name', 'U10'), ('quantity', 'i4'), ('price', 'i4'), ('qp', 'i4')]
new_prd = np.empty(len(products), dtype=new_dtype)
new_prd['name'] = products['name']
new_prd['quantity'] = products['quantity']
new_prd['price'] = products['price']
new_prd['qp'] = products['quantity'] * products['price']
new_prd

array([('키보드', 10,  20000,  200000), ('마우스',  5,  15000,   75000),
       ('모니터', 23, 150000, 3450000), ('웹캠',  8,  30000,  240000)],
      dtype=[('name', '<U10'), ('quantity', '<i4'), ('price', '<i4'), ('qp', '<i4')])

------